@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@media screen and (min-width: 360px){
  header{
    height: 453px;
  } 
  .segment{
    margin-bottom: 5px;
  }
  .flatting-image-70{
    max-width: 64px;max-height: 64px;margin-left: 0px;
  }
  .lefting-small{
    margin-left: 0%;
    
  }
  .lefting-border{
    margin-bottom: 30px;
  }
  .texting-small{
    text-align: center;
  }
}

@media screen and (min-width: 720px){
  header{
    height: 453px;
  } 
  .segment{
    margin-bottom: 5px;
  }
  .flatting-image-70{
    max-width: 70px;max-height: 70px;margin-left: 75px;
  }
  .lefting-small{
    margin-left: 0%
  }
  .lefting-border{
    margin-bottom: 30px;
  }
  .texting-small{
    text-align: center;
  }
}



@media screen and (min-width: 1200px){
  header{
    height: 653px;
  } 
  .segment{
    margin-bottom: 228px;
  }
  .flatting-image-70{
    max-width:56px;max-height: 56px;margin-left: 0px;
  }
  .lefting-small{
    margin-left: 30%
  }
  .lefting-border{
    border-right: 1px solid #eee;
  }
  .texting-small{
    
}

header {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient( #0072ff, #00c6ff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( #0072ff, #00c6ff, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  background-color: #060;
  color: #fff;
  height: 653px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.header {
  width: 100%;
  height: 100%;
  min-height: 100%;
  transition: all 0.3s ease;
  /*background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;*/
  /*-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);*/
  /*box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);*/
}

.sticky {
  position: fixed;
  background:#143173;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  border-radius: 0;
  z-index: 9;
  width: 100%;
  padding: 5px 0;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.inner {
  padding: 30px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, .95);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .navbar-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    background: #000 !important;
  }
}

.tabStrip {
  background: #f3eee9;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.grey {
  background: grey;
}

.blue {
  background: #00BFFF;
}

.orange {
  background: #FF8C00;
}

.green {
  background: #6B8E23;
}

.tabStrip ul li a {
  color: #fff;
}

.tabStrip ul li a:hover {
  border: none;
  background: none;
}
